{% extends "base.html" %}
{% block titulo %}Obrigado!{% endblock %}
{% block conteudo %}
	<div id="main" style="text-align: center;">
        <div class="header">
          <br />
          <br />
          <br />
          <img class="pure-img-responsive" src="/static/imagens/logo.jpeg" alt="Ride Bikes">
          <br />
<br />
          <br />
          <h1>A Ride Bikes agradece pela sua compra!</h1>
            <h1>Seu produto chegará em até 15 dias úteis.</h1>
<br />
          <br />
          <h1>Telefone: 0800 000 0000<br />
E-mail: ridebikesconsumidor@oggibikes.com.br<br />
Endereço: Rua Conselheiro Nébias, 1649 - Campos Elíeos<br />
São Paulo - SP - Equipe Ride Bikes</h1>
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
{% endblock %}