{% extends "base.html" %}
{% block titulo %}Bikes - Ride Bikes{% endblock %}
{% block conteudo %}
<div class="banner">
    <h1 class="banner-head">
        A sua loja virtual de bikes.<br>
        Compre a sua agora!
    </h1>
</div>

<div class="l-content">
    <div class="pricing-tables pure-g">
        <div class="pure-u-1 pure-u-md-1-3">
            <div class="pricing-table pricing-table-free">
                <div class="pricing-table-header">
                    <img class="pure-img-responsive" src="/static/imagens/BG7.0.jpg" alt="Bike MTB">
                </div>

                <ul class="pricing-table-list">
                    <li><b>MODELO:</b> Big Wheel 7.0 2022</li>
                    <li><b>PREÇO:</b> 3.690,00</li>
                    <li><b>QUADRO:</b> Alumínio 6061 t6 tratado com cabeamento interno, rabeira snake e head tube over size (44 / 50)</li>
                    <li><b>GRUPO:</b> Novo Shimano Alivio 18v</li>
                    <li><b>SUSPENSÃO:</b> MTB 29" com trava no guidão e curso de 100mm</li>
                    <li><b>RODAS:</b> Cubo Shimano TX 505 com Aros Alexrims MD25</li>
                    <li><b>PNEU:</b> 29"x 2.10</li>
                    <li><b>PEDAL:</b> Plataforma</li> 
                    <li><b>PESO APROXIMADO:</b> Aproximadamente 14,7 kg</li>
                </ul>

                <a href="/agradecimento"><button class="button-choose pure-button">Comprar</button></a>
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-3">
            <div class="pricing-table pricing-table-biz pricing-table-selected">
                <div class="pricing-table-header">
                    <img class="pure-img-responsive" src="/static/imagens/BG7.1.jpg" alt="Bike MTB">
                </div>

                <ul class="pricing-table-list">
                    <li><b>MODELO:</b> Big Wheel 7.1 2022</li>
                    <li><b>PREÇO:</b> R$ 4.390,00</li>
                    <li><b>QUADRO:</b> Alumínio 6061 T6 tratado c/o novo top tube e tubo do selim com 34.9mm c/ponteira post mount p/freio a disco e removivel c/rota interna e rabeira snake e head tube over size ( 44 / 50 )</li>
                    <li><b>GRUPO:</b> Shimano Alivio/Deore</li>
                    <li><b>SUSPENSÃO:</b> Rockshox Judy</li>
                    <li><b>RODAS:</b> SHIMANO MODELO TX 505 com Aros Alexrims MD25</li>
                    <li><b>PNEU:</b> MTB 2.10</li>
                    <li><b>PEDAL:</b> Plataforma</li> 
                    <li><b>PESO APROXIMADO:</b> Não informado</li>
                </ul>

                <a href="/agradecimento"><button class="button-choose pure-button">Comprar</button></a>
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-3">
            <div class="pricing-table pricing-table-enterprise">
                <div class="pricing-table-header">
                    <img class="pure-img-responsive" src="/static/imagens/BG7.2.jpg" alt="Bike MTB">
                </div>

                <ul class="pricing-table-list">
                    <li><b>MODELO:</b> Big Wheel 7.2 2022</li>
                    <li><b>PREÇO:</b> R$ 7.590,00</li>
                    <li><b>QUADRO:</b>MTB em alumínio 6061 t6 , eixo traseiro passante e c/ rota interna dos cabos e cabeçote tapered</li>
                    <li><b>GRUPO:</b> Shimano DEORE</li>
                    <li><b>SUSPENSÃO:</b> Suntour ar e óleo/RockShox Judy TK 29 - curso 100 mm</li>
                    <li><b>RODAS:</b> Cubo Shimano Alivio com Aros Alexrims MD25</li>
                    <li><b>PNEU:</b> Kenda Booster PRO 29x2.20</li>
                    <li><b>PEDAL:</b> Wellgo clip</li> 
                    <li><b>PESO APROXIMADO:</b> 
Aproximadamente 12,8 kg</li>
                </ul>

                <a href="/agradecimento"><button class="button-choose pure-button">Comprar</button></a>
            </div>
        </div>
    </div> 
  <!-- quebra de linha -->
    <div class="pricing-tables pure-g">
        <div class="pure-u-1 pure-u-md-1-3">
            <div class="pricing-table pricing-table-free">
                <div class="pricing-table-header">
                    <img class="pure-img-responsive" src="/static/imagens/BG7.3.jpg" alt="Bike MTB">
                </div>

                <ul class="pricing-table-list">
                    <li><b>MODELO:</b> Big Wheel 7.3 2022</li>
                    <li><b>PREÇO:</b> R$ 9.990,00</li>
                    <li><b>QUADRO:</b> AMTB em alumínio 6061 t6 tratado triplo butted, side swing, eixo traseiro passante (12 x 148 mm) e c/ rota interna dos cabos</li>
                    <li><b>GRUPO:</b> Shimano Deore</li>
                    <li><b>SUSPENSÃO:</b> Manitou Markhor com trava no guidão - curso 100 mm</li>
                    <li><b>RODAS:</b> Cubo Shimano Deore com Aros Alexrims MD25</li>
                    <li><b>PNEU:</b> Kenda Booster PRO 29x2.20</li>
                    <li><b>PEDAL:</b> Wellgo clip</li> 
                    <li><b>PESO APROXIMADO:</b> Não informado</li>
                </ul>

                <a href="/agradecimento"><button class="button-choose pure-button">Comprar</button></a>
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-3">
            <div class="pricing-table pricing-table-biz pricing-table-selected">
                <div class="pricing-table-header">
                    <img class="pure-img-responsive" src="/static/imagens/BG7.4.jpg" alt="Bike MTB">
                </div>

                <ul class="pricing-table-list">
                    <li><b>MODELO:</b> Big Wheel 7.4 2022</li>
                    <li><b>PREÇO:</b> R$ 11.450,00</li>
                    <li><b>QUADRO:</b> Alumínio 6061 T6 Triplo Butted com o novo Seat Tube Trapeizodal, Boost System ( 148 mm ) , Press Fit 92 mm com rotas de cabos totalmente interna</li>
                    <li><b>GRUPO:</b> Shimano SLX 12V</li>
                    <li><b>SUSPENSÃO:</b> Manitou Machete curso de 100mm (BOOST)</li>
                    <li><b>RODAS:</b> DT SWISS 370 com Aros Alexrims MD25</li>
                    <li><b>PNEU:</b> Kenda Booster PRO 29x2.20</li>
                    <li><b>PEDAL:</b> Wellgo clip</li> 
                    <li><b>PESO APROXIMADO:</b> Não informado</li>
                </ul>

                <a href="/agradecimento"><button class="button-choose pure-button">Comprar</button></a>
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-3">
            <div class="pricing-table pricing-table-enterprise">
                <div class="pricing-table-header">
                    <img class="pure-img-responsive" src="/static/imagens/BG7.5.jpg" alt="Bike MTB">
                </div>

                <ul class="pricing-table-list">
                    <li><b>MODELO:</b> Big Wheel 7.5 2022</li>
                    <li><b>PREÇO:</b> R$ 12.380,00</li>
                    <li><b>QUADRO:</b> Alumínio 6061 T6 Triplo Butted com o novo Seat Tube Trapeizodal, Boost System ( 148 mm ) , Press Fit 92 mm com rotas de cabos totalmente interna</li>
                    <li><b>GRUPO:</b> Sram NX/GXv</li>
                    <li><b>SUSPENSÃO:</b> Manitou Machete comp travel 100mm (BOOST)</li>
                    <li><b>RODAS:</b> Cubo Sram MTH 716 com aros Alexrims MD25</li>
                    <li><b>PNEU:</b> Kenda Booster PRO 29x2.20</li>
                    <li><b>PEDAL:</b> Wellgo clip</li> 
                    <li><b>PESO APROXIMADO:</b> Não informado</li>
                </ul>

                <a href="/agradecimento"><button class="button-choose pure-button">Comprar</button></a>
            </div>
        </div>
    </div> <!-- end pricing-tables -->
    </div> <!-- end information -->
</div> <!-- end l-content -->
{% endblock %}