{% extends "base.html" %}
{% block titulo %}Envio concluído - Ride Bikes{% endblock %}
{% block conteudo %}
	<div id="main">
        <div class="header" style="text-align: center;">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
            <h1>A Ride Bikes agradece o seu contato.</h1>
            <h1>Sua mensagem foi enviado com sucesso!</h1>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
{% endblock %}