{% extends "base.html" %}
{% block titulo %}Página Inicial - Ride Bikes{% endblock %}
{% block conteudo %}
<div class="banner">
    <h1 class="banner-head">
        A Sua loja de bikes Virtual<br>
        Compre a sua agora.
    </h1>
</div>

<div class="l-content">
    <div class="information pure-g">
        <div class="pure-u-1 pure-u-md-1-2">
            <div class="l-box">
                <h3 class="information-head">Ande de bicicleta</h3>
                <p>
                    Em um mundo que não para de mudar, o uso da bicicleta como meio de transporte aumenta cada vez mais. Seja para fugir dos engarrafamentos ou para adotar um estilo de vida mais saudável, motivos não faltam para começar a pedalar. Além de ser um meio de transporte barato e sustentável, a bicicleta também é ferramenta para quem quer apenas se exercitar. E seu uso, não importa para qual objetivo, só faz bem à saúde!
                </p>
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-2">
            <div class="l-box">
                <h3 class="information-head">Emagrece</h3>
                <p>
                    Andar de bicicleta é um exercício que acelera o seu metabolismo, ou seja, faz com que o seu corpo queime calorias mais rapidamente. O resultado é menos acúmulo de gordura no organismo e, consequentemente, uma silhueta mais magra.
                </p>
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-2">
            <div class="l-box">
                <h3 class="information-head">Melhora o tônus muscular</h3>
                <p>
                    Como todo exercício físico, pedalar exige força dos músculos. Por isso, pedalar regularmente vai fazer com que você ganhe força muscular e tônus, sobretudo na parte inferior do seu corpo. Empurrar os pedais envolve seus quadríceps, os músculos das coxas, e os glúteos. Os braços e ombros também são usados, principalmente ao segurar o guidão dos dois lados para subir morros íngremes. 
                </p>
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-2">
            <div class="l-box">
                <h3 class="information-head">Aumenta o fôlego</h3>
                <p>
                    Se você já viu um ciclista subindo uma ladeira íngreme deve ter se perguntado: como ele consegue? A resposta está nos pulmões reforçados.Quando pedala, você precisa de mais oxigênio e acaba exercitando mais a respiração. Com o tempo, começa a ganhar fôlego para aguentar não só as longas subidas, mas pedalar por longas distâncias.O ganho de resistência física vai além dos momentos de pedalada e será útil para todas as atividades do seu dia a dia, como brincar com os filhos e subir escadas.
                </p>
            </div>
        </div>
    </div> <!-- end information -->
</div> <!-- end l-content -->
{% endblock %}