{% extends "base.html" %}
{% block titulo %}Seguro OGGI{% endblock %}
{% block conteudo %}
<div class="banner">
    <h1 class="banner-head">
        Pedale TRANQUILAMENTE<br>
        com o SEGURO Oggi Bikes!
    </h1>
</div>

<div class="l-content">
    <div class="information pure-g">
        <div class="pure-u-1 pure-u-md-1-2">
            <div class="l-box">
                <h3 class="information-head">Sobre o seguro</h3>
                <p>
                    Na OGGI você tem a sua bike assegurada, em casos de roubo e furto qualificado, durante doze meses (a partir da data de emissão da nota fiscal) sem precisar pagar nada a mais por isso. O seu seguro estará ativo somente após o recebimento da apólice, em seu email informado no formulário de cadastro.
                </p>
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-2">
            <div class="l-box">
                <h3 class="information-head">Telefone para contato</h3>
                <p>
                    Em caso de dúvidas, entre em contato com a Faz de Conta Seguros através do telefone 0800 084 7070.
                </p>
            </div>
        </div>
    </div> <!-- end information -->
</div> <!-- end l-content -->
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
{% endblock %}