{% extends "base.html" %}
{% block titulo %}Sobre Nós - Ride Bikes{% endblock %}
{% block conteudo %}
	<div id="main" style="text-align: center;">
        <div class="header">
          <br />
          <br />
          <br />
          <img class="pure-img-responsive" src="/static/imagens/logo.jpeg" alt="Ride Bikes">
            <h2>A sua loja virtual de bikes</h2>
        </div>
<br /><br />
        <div class="content">
            <h2 class="content-subhead">Um breve histórico</h2>
            <p>
                A Oggi é uma marca de bicicletas com desenvolvimento e fabricação na Zona Franca de Manaus, com peças e componentes importados.<br /> Nascida em 2014, a Oggi Bikes possui uma linha de bicicletas com tecnologia de ponta e valores altamente competitivos no mercado. 
            </p>

            <h2 class="content-subhead">Design Italiano</h2>
            <p>
                O projeto da marca nasceu na Itália e foi criado por designers apaixonados pelo mundo da bike. Por isso, a escolha da palavra italiana OGGI, que em português significa hoje.<br /> Refletindo também a nossa busca constante por inovação e tendências do mercado.
            </p>
                A Itália também é fonte de inspiração para o design das nossas bikes, onde aperfeiçoamos cada detalhe para oferecer o melhor do pedal para você.

          <h2 class="content-subhead">Fábrica no Brasil</h2>
            <p>
                Todo processo de desenvolvimento e fabricação é realizado em nossa fábrica na Zona Franca de Manaus.<br /> São mais de 150 profissionais especializados que utilizam tecnologia de ponta para criar produtos com alta durabilidade, baixa manutenção, conforto e segurança com o melhor custo benefício.
            </p>
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
{% endblock %}







