{% extends "base.html" %}
{% block titulo %}Suporte - Ride Bikes{% endblock %}
{% block conteudo %}
	<div id="main" style="text-align: center;">
        <div class="header">
          <br />
          <br />
          <br />
            <h1>GARANTIA</h1>
        </div>
          <br />
          
        <div class="content">
            <h2 class="content-subhead">Termo de Garantia</h2>
            <p>
                A OGGI autorizará a realização de serviços em garantia sem ônus de mão de obra, diretamente com as lojas autorizadas. 
            </p>
                O proprietário do produto será responsável pelas despesas de transporte e locomoção, até a rede que atenderá a garantia. O proprietário, ao solicitar a garantia, deverá ter em mãos a nota fiscal de compra (documento indispensável).
            <p>
                O lojista responsável entrará em contato com a OGGI, solicitando a garantia através do nosso SAC, que passará todas as instruções necessárias.
            <p>
          <br>

            <h2 class="content-subhead">A garantia não cobre:</h2>
            <p>
                • Peças de desgaste, como corrente, pneus, gancheira, pastilhas de freio, movimento central, câmaras e todos os componentes que sofrem desgaste natural.
            </p>
                • Defeitos provenientes de acidentes.
            <p>
                • Defeitos decorrentes de alterações da condição original do produto, substituição de peças e alterações.
            </p>
                • Produtos adquiridos em saldos, considerado “venda no estado” ou usado “segunda mão”.
            <p> 
                • Produtos adquiridos fora de nossas lojas revendedoras (Certifique-se que a revenda trabalha conosco).
            </p>
                • Qualquer avaria provocada por mau uso.
        </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  {% endblock %}